<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "styles.css" | relURL }}">
  </head>
  <body>
    <header>
      <div class="container">
        <a class="brand" href="{{ "" | relURL }}">{{ .Site.Title }}</a>
        <nav>
          <a href="{{ "" | relURL }}">Home</a>
          <a href="{{ "getting-started/" | relURL }}">Getting Started</a>
          <a href="{{ "technical-spec/" | relURL }}">Technical Spec</a>
          <a href="{{ "manifesto/" | relURL }}">Manifesto</a>
          <a href="{{ "configuration/" | relURL }}">Configuration</a>
          <a href="{{ "commands/" | relURL }}">Commands</a>
        </nav>
      </div>
    </header>
    <main class="container">
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
